<div class="container mt-3">
    <div class="row justify-content-center">

        <!-- Email Container -->
        <div class="email-container">
            <!-- Email Details -->
            <div class="mb-4">
                <h4>Subject: {{emailResponse?.subject}}</h4>
                <p>From: {{emailResponse?.from}}</p>
                <p>To: {{emailResponse?.to}}</p>
            </div>
            <div>
                <app-email-reply [specificEmail]="emailResponse"></app-email-reply>
            </div>
            <hr>
            <!-- Email Content -->
            <div>
                <p [innerHTML]="emailResponse?.html"></p>
            </div>
        </div>


    </div>
</div>